  <!-- Footer -->
  <div class="footer">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div class="footer-col">
            <h4>About <%= _.upperFirst(barndName) %></h4>
            <p>We're passionate about creating the best Program App for personal development</p>
          </div>
        </div> <!-- end of col -->
        <div class="col-md-4">
          <div class="footer-col middle">
            <h4>Important Links</h4>
            <ul class="list-unstyled li-space-lg">

              <!-- <li class="media">
              <i class="fas fa-square"></i>
              <div class="media-body">Our business partners <a class="turquoise"
                  href="#your-link">startupguide.com</a></div>
            </li> -->

            
            
              <li class="media">
                <i class="fas fa-square"></i>
                <div class="media-body">Read our 
                  <a class="turquoise" href="/view/tems">Terms & Conditions</a>, 
                  <a class="turquoise" href="/view/policy">Privacy Policy</a></div>
              </li>
              
              <li class="media">
                <i class="fas fa-square"></i>
                <div class="media-body">
                  <span>은행계좌안내 </span><br>

                  <div class="footer__icon_row">
                    <img src="/img-common/shinhan_icon.png" alt="" width="20"> 
                    신한 : 110-434-608319 
                  </div>

                  <div class="footer__icon_row">
                    <img src="/img-common/kakaobank_icon.png" alt="" width="20"> 
                    카카오뱅크 : 3333-09-5743170
                  </div>

                  <div class="footer__icon_row">
                    <span>예금주 : 이준영</span> <br>
                  </div>
                  <!-- <span>획인시간 19:00 ~ 24:00 </span> -->
                  <!-- <a class="turquoise" href="terms-conditions.html">Copy</a> -->
              </div>
              </li>
            </ul>
          </div>
        </div> <!-- end of col -->
        <div class="col-md-4">
          <div class="footer-col last">
            <h4>Social Media</h4>
            <span class="fa-stack">
              <a href="https://open.kakao.com/o/s25ye8J" target="_blank">
                <span class="circle__icon_box">
                  <img src="/img-common/kakao_icon2.png" alt="" width="35" class="circle__icon_img">
                </span>
              </a>
            </span>

            <span class="fa-stack">
              <a href="#your-link">
                <i class="fas fa-circle fa-stack-2x"></i>
                <i class="fab fa-twitter fa-stack-1x"></i>
              </a>
            </span>
            <span class="fa-stack">
              <a href="mailto:monster2jy@gmail.com" >
                <i class="fas fa-circle fa-stack-2x"></i>
                <i class="fas fa-envelope fa-stack-1x"></i>
                <!-- <i class="fab fa-google-plus-g fa-stack-1x"></i> -->
              </a>
            </span>
            <!-- <span class="fa-stack">
              <a href="#your-link">
                <i class="fas fa-circle fa-stack-2x"></i>
                <i class="fab fa-instagram fa-stack-1x"></i>
              </a>
            </span> -->
          </div>
        </div> <!-- end of col -->
      </div> <!-- end of row -->
    </div> <!-- end of container -->
  </div> <!-- end of footer -->
  <!-- end of footer -->



  <!-- Copyright -->
  <div class="copyright">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <p class="p-small">Copyright © 2020 <a href="https://inovatik.com">
            <%= barndName.toUpperCase() %> 
          </a> -
            All rights reserved</p>
        </div> <!-- end of col -->
      </div> <!-- enf of row -->
    </div> <!-- end of container -->
  </div> <!-- end of copyright -->
  <!-- end of copyright -->